@charset "utf-8";
/* CSS Document */

body{
    background-image: url("../Shared/Images/wp2742864-dope-space-backgrounds-tumblr.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;   
    background-position: top;
    background-attachment: fixed;
    color: white;
}

#wrapper{
    background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
}

body div{
    margin: auto;
    width: 80%;

}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    /* [disabled]background: #555; */
    padding-right: 16px;
    padding-left: 16px;
    /* [disabled]color: #f1f1f1; */
}

.content {
    margin: auto;
    padding: 16px;
}


.sticky + .content {
    padding-top: 100px;
}

.nav-bar { 
    padding-right: 16px;
    padding-left: 16px;
    margin: auto;
}

.nav-bar ul {
    width: 80%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-bar li a:hover {
    background-color: #111;
}

.sticky {
    position: sticky;
    top: 0;

}


.footer {
    padding: 16px;
}

.countdown {
  text-align: center;
  margin-bottom: 20px;
}
.countdown .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countdown span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}
