@charset "utf-8";
/* CSS Document */

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
    background-image: url("../Shared/Images/wp2742864-dope-space-backgrounds-tumblr.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;   
    background-position: top;
    background-attachment: fixed;
    color: white;
    height: 100%;
    font-weight: bold;
}

#wrapper{
    background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
    padding-block-start: 1.5em;
    padding-block-end: 1.5em;
}

body div{
    margin: auto;
    width: 80%;

}

h1, h2, h3, h4, h5, h6 {
    color: #eb6123;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    /* [disabled]background: #555; */
    padding-right: 16px;
    padding-left: 16px;
    /* [disabled]color: #f1f1f1; */
}

.content {
    margin: auto;
    padding: 16px;
}


.sticky + .content {
    padding-top: 100px;
}

.nav-bar { 
    padding-right: 16px;
    padding-left: 16px;
    margin: auto;
}

.nav-bar ul {
    width: 60%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #622488;
    border-radius: 0.75em;
    transition: border-radius 1s;
}

.sticky ul {
    border-radius: 0 0 0.75em 0.75em;

    
}


.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-bar li a:hover {
    background-color: #111;
}

.sticky {
    position: sticky;
    top: 0;
    border-radius: 0 0.75em 0.75em 0;
}


.footer {
    padding: 16px;
}

.countdown {
  text-align: center;
  margin-bottom: 20px;
}

.timeel {
  display: inline-block;
  padding: 10px;
  background: #622488;
  margin: 0;
  color: white;
  min-width: 2em;
  margin-left: 13px;
  border-radius: 0.75em 0 0 0.75em;
    /*! justify-content: space-around; */
}
.countdown span[class*="timeRef"] {
  border-radius: 0 0.75em 0.75em 0;
  margin-left: -.2em;
  background: #eb6123;
  color: black;
  font-weight: bold;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
}

.countup span[class*="timeRef"] {
  border-radius: 0 0.75em 0.75em 0;
  margin-left: -.2em;
  background: #eb6123;
  color: black;
      font-weight: bold;
}

